/*a{ cursor: pointer}
a:hover{
    color: #0066CC;
    outline: medium none;
    text-decoration: underline;
}
input{      color: #999999; }
input[type="text"]:hover,   select:hover,
input[type="text"]:focus,   select:focus,
input[type="text"]:active,   select:active{ border-radius: 2px 2px 2px 2px;  color: #555;  }  
.shadow {
    -moz-box-shadow: 3px 3px 4px #333;
    -webkit-box-shadow: 3px 3px 4px #333;
    box-shadow: 3px 3px 4px #333;
}*/
body *{font-family: "Arial","Helvetica","Verdana","sans-serif"; font-size: 12px;color: #555555}
#logo {
  background: url("../images/logo.jpg") no-repeat scroll 1px 4px / 62% auto transparent;
  width: 63px;
  float: left;
  height: 62px;
  margin-top: 0;
  padding: 0;
  position: absolute;
}

#logo > #page-title {
  margin-left: 66px;
  font-size: 62%;
}

.alignright{text-align: right}
#menubar{ border-radius: 5px 5px 5px 5px;
          height: 22px;
          margin-left: 44px;
          margin-right: 8px;
          margin-top: 8px;
          padding-bottom: 0;
}

input::-webkit-input-placeholder {
  color:    #999;
}
input:-moz-placeholder {
  color:    #999;
}

.input, textarea, input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
select:not([disabled="disabled"]){
  padding: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cecece;
  outline: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25 ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}/* 
textarea:hover, 
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([disabled="disabled"]):hover,
select:not([disabled="disabled"]):hover{
    border: 1px solid #bdbdbd;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2) !important;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2) !important;
}
textarea:focus, input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([disabled="disabled"]):focus {
    border: 1px solid #95bdd4;
    -webkit-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2) !important;
    -moz-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2) !important;
    box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2) !important;
}*/
#spin {    background: url("../images/ajax-loader-bar.gif") no-repeat scroll center 85% #666666;    border: 2px solid #FFFFFF;
           border-radius: 5px 5px 5px 5px;    color: #EEEEEE;    font-size: 110%;    height: 19px;    left: 44%;    opacity: 0.7;
           padding: 4px 41px 50px;    position: fixed;    text-align: center;    top: 24%;    width: 118px;}


.span-19{float:none; margin: 0 auto}

body{
  font-family:Arial, Helvetica, sans-serif; 
  font-size:12px;
}
.error-item{
  margin: 2px;
}
/*.info, .success, .warning, .error, .validation {
background-attachment: scroll;
    background-clip: border-box;
    background-color: #E6EFC2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #C6D880;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C6D880;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C6D880;
    border-top-color: #C6D880;
}*/
div.form input, div.form textarea, div.form select {
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
}
input[type="text"], textarea, select {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #E2E3EA;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #DBDFE6;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: solid;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}

/*.info {
  color: #00529B; 
  background-color: #BDE5F8;
  background-image: url('../images/info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../images/success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/warning.png');
}
.errorGraba {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}
.validation {
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('../images/error.png');
}*/

thead th{background: none}
/*.table{border: 1px solid #0066A4;    border-radius: 4px 4px 4px 4px;border-spacing: 0;}
.table ,.table tr, .table td {outline: 0 none; padding: 0; vertical-align: baseline;}
.table thead{background-color: #C3D9FF;border-collapse: collapse}
.table tbody,.table .tbody{background-color: #fff}
.table td{ padding: 3px 5px 3px 5px}*/
.table tr:hover{background-color: #EEEEEE}
.table tr.selected{background-color: #C3D9FF}
.table tr *{cursor:pointer}
/*.table thead{border-bottom: 1px solid lightSkyBlue; border-radius: 5px 5px 0 0;}
.table thead tr th{border-bottom: 1px solid #777777;  margin: 1px 4px 2px 2px;color: #555555;}
.table td.center,th.center{text-align: center}

.table tr input{cursor:text}
.table tr select, table tr input[type="button"]{cursor:auto}
.table td.td-borra{background-image: url("images/delete.jpg");background-repeat: no-repeat; cursor: pointer; text-align: right;background-position: right center;}*/
.ui-widget { font-size: 11px !important; }  
tr:nth-child(even)    { background-color:#EAEEFB}

#tickets {
  -moz-text-blink: none;
  -moz-text-decoration-color: -moz-use-text-color;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
  color: blue;
  cursor: pointer;
  float: right;
  margin-right: 7px;
  margin-top: 4px;
}

.titulo{ background-color: #C3D9FF;    border-bottom: 1px solid #CCCCCC;    border-bottom: 1px solid #EFF3FC;    border-radius: 5px 5px 5px 5px;  margin-bottom: 5px;    padding: 3px;    text-align: center;color: #555555;  font-weight: bold;}
.importe{width:55px;text-align: right}
.errores-seccion-sub{text-decoration: none; font-weight: bold;list-style-type: circle}
.errores-seccion-sub li{margin-left: 19px}
.chzn-container .chzn-results {
  max-height: 400px;
}
.jstree a {
  cursor: pointer;
}