.white{color:white}
.panel-body p{ color:#444444  !important}
.item dl{ color: #F2F2F2;font-size: 20px;}
.item dl p{text-align: left}
.item dl dt{}
.item dl dd{}
.item h2,.item dl h3,.item h4,.item dl h5{color:#F2F2F2}
dd dd{text-align: left}
#yo-img{height: 200px}
#spin {
    background-color: lemonchiffon;
    position: absolute; 
    top: 20%; left: 50%; 
    display:none; 
    padding:10px; 
    border:solid #444444; 
    border-width: 1px;
    border-radius: 5px}
.right-align{text-align: right}
/*
// sacar de acá
*/
.inputclear {
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
.inputclear:hover {
    color: #999;
}