.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

#width{position: absolute; right: 0; top:0}

/*@media (max-width: 2000px){
	.container{
		width: 1700px;
	}
}*/


/*Cuidado*/
.bnt{
	background-color: rgba(0, 0, 0, 0);
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
}