.divclearable {
    position: relative;
}
.divclearable a {
    background: url("clearinput.png") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 3px;
    top: 0px;
    width: 12px;
}
.divclearable input {
    padding-right: 14px !important;
}