<span style='color: #000'>8553 frames</span>	<span style='color: #900'>177,664 KB</span>	<span style='color: #090'>480,012.26 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />