<style>
	.alert{width: 300px}
</style>
<script type="text/x-handlebars" id="item_template">
	<div class="alert alert-danger" data-bind="text:nombre"></div>
	<input type="text" data-bind="value: nombre, valueUpdate:'input'"/>
</script>