
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="language" content="<?= Yii::app()->language; ?>" />        
<script>
function subst() {
  var vars={};
  var x=document.location.search.substring(1).split('&');
  for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
  var x=['frompage','topage','page','webpage','section','subsection','subsubsection','date','time'];
  for (var i in x) {
    var y = document.getElementsByClassName(x[i]);
    for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
  }
  var f = document.getElementsByClassName("fecha");
  
  //f.textContent[0]="Hola";
  
}
</script></head><body style="border:0; margin: 0;" onload="subst()">
<table style="border-bottom: 1px solid black; width: 100%">
  <tr>
    <td class="date" style="width:85px"></td><td style="width:10px">-</td><td class="time" style="width:100px"></td>
    <td style="text-align:right">
      Página <span class="page"></span> de <span class="topage"></span>
    </td>
  </tr>
</table>
</body></html>